.sketch {
  margin: auto;
}

.btn {
  border-radius: 24px;
}

.main-modal {
  position: absolute;
  margin: 100px auto;
  height: 100%;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.modal-inner {
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.9);
}

.side-modal {
  position: absolute;
  margin: 100px auto;
  height: 100%:
  width: 100%;
  z-index: 2;
  text-align: center;
}

.side-modal-inner {
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.9);
}

.login-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.registration-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.registration-form input {
  width: 50%;
  text-align: center;
}

.registration-form .btn {
  width: 20%;
}
.oauth-button {
  margin-bottom: 20px;
}

.oauth-icon {
  vertical-align: middle;
}
