<div class="center-block main-login-modal">
  <div class="login-modal animated fadeInDown">
    <h2>New Artist Registration</h2>
    <form class="form-inline registration-form" name="registrationForm" ng-submit="login.registerUser()">
      <label for="username">Username: </label>
      <input class="form-control" type="text" name="username" id="username" ng-model="login.username"/>
      <label for="password">Password: </label>
      <input class="form-control" type="text" name="password" id="password" ng-model="login.password"/>
      <input class="btn btn-sm round btn-default" type="submit" value="Submit">
    </form>
    <div class="inline">
      <a class="btn btn-lg btn-warning oauth-button"><i class="fa fa-instagram fa-3x oauth-icon"></i>   Login with Instagram</a>
    </div>
  </div>
</div>
