<div class="center-block main-login-modal">
  <div class="bg-info login-modal animated bounceIn">
    <h2>Account Login</h2>
    <form class="form-inline login-form" name="loginForm" ng-submit="submitLogin()" action="index.html" method="post">
      <div class="form-group">
        <label for="username" class="text text-primary">Username: </label>
        <input class="form-control" type="text" id="username" name="username" value="">
        <label for="password" class="text text-primary">Password: </label>
        <input class="form-control" type="password" id="password" name="password" value="">
        <input class="btn btn-sm btn-primary" type="submit">
      </div>
    </form>
    <div class="inline">
      <a class="btn btn-lg btn-warning oauth-button"><i class="fa fa-instagram fa-2x oauth-icon"></i>  Login with Instagram</a>
    </div>
  </div>
</div>
